

@font-face {
    font-family: "Architects Daughter";
    src: url("ArchitectsDaughter.ttf") format("truetype");
}

img {
    width: 200px;
}

body, h1{
    font-family: "Architects Daughter", Arial, Helvetica, sans-serif;
    font-size: x-small;
}body{
    text-align:center;
    font-family:"Arial";
    background:
}