

@font-face {
    font-family: "Architects Daughter";
    src: url("ArchitectsDaughter.ttf") format("truetype");
}

img {
    width: 400px;
}

body, h1{
    font-family: "Architects Daughter", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align:center;
    font-family:"Arial";
    background:rgb(218, 215, 215);
    color: blue; 

}